# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.meta
*.pdb
*.manifest
*.exe
*.cache
*.suo
*TemporaryGeneratedFile*
projects-csharp.sln
projects.sln
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
sharpunity-csharp.sln
sharpunity.sln
Assets/sharp/ClientServer/bin/Debug/Logs/
Logs/
Assets/sharp/ClientServer/bin/
Assets/sharp/ClientServer/ServerClient.sdf
